* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav {
    height: 120px;
    width: 100%;
    background-image: linear-gradient(rgba(255, 119, 7, 0.445), rgba(255, 119, 7, 0.445)),url(https://img.freepik.com/vector-premium/fondo-panaderia_6997-110.jpg?w=740) ;
    backdrop-filter: blur(25px);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    
}

nav img {
    width: 80px;
    height: 80px;
    margin-left: 25px;
    border-radius: 50%;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}
nav a:hover{
    border-bottom: 3px solid #fff;
    padding: 10px;
}
.activa{
    border-bottom: 3px solid #fff;
    padding: 10px;
}
.contenedor{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor h2{
    margin-top: 25px;
    font-size: 35px;
}
.contenedor2{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.tarjeta {
    width: 400px;
    border: 1px solid #000000;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.cuadro{
    display: flex;
    flex-direction: row;
    display: grid;
	grid-template-columns: repeat(3, 1fr);
}